<% layout('layouts/boilerplate')%>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 id="title">The Results are in, how did you do..?</h1>
        </div>
    </div>
   
    <div class="row" id="userResultsDiv"></div>
</div>


<script>
    const userResultsObj = <%- userResultsStr %>
</script>
